<?xml version="1.0"?>
<configuration>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="600" requestValidationMode="2.0" maxRequestLength="1024000"/>
    <!-- requestValidationMode="2.0" for特殊字自動產生錯誤 -->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages maintainScrollPositionOnPostBack="true" validateRequest="false" controlRenderingCompatibilityVersion="4.0" enableEventValidation="false"/>
    <!-- validateRequest="false" for特殊字自動產生錯誤 -->
    <sessionState timeout="18000"/>
    <!--<customErrors mode="On"/>-->
    <!--<customErrors mode="On" defaultRedirect="mycustompage.htm"/>-->
    <customErrors mode="Off"/>
    <machineKey validation="AES"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <connectionStrings>
    <add name="eip" connectionString="Data Source=ctt2208.ctsp.gov.tw;Initial Catalog=admsys_t;Persist Security Info=True;User ID=admsys;Password=Ctsp@20241126;connect timeout=120000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>